<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu Items</title>

</head>

<body>
    <h2>You've Chosen Well. Now Pay.</h2>
    <p>**Only Altairian Dollars Accepted At This Time.**</p>
    <div class="order">
        <table id="order" class="orders">
            <tr>
                <th>Meal Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let m of orderup.keys()">
                <td>{{m.mealname}}</td>
                <td>${{m.price}}</td>
                <td>{{orderup.get(m)}}</td>
            </tr>
        </table>
        <br>
        <div class="formgroup">
            <label for="b_location">Choose your delivery location.</label>
            <select id="locations">
                <option *ngFor="let A of areas">{{A.address}}</option>
            </select>
            <!-- <select class="form-control" id="b_location"></select> -->
            <ul id="locationSelect"></ul>
        </div>
        <br>
        <div class="formgroup">
            <label for="b_payment">Enter your payment information:</label>
            <input class="form-control simple-order" type="text" id="bPayment" [(ngModel)]="bPayment" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary" id="submitbtn" (click)=makeOrder()>Pay</button>
        <button type="submit" class="btn btn-danger" id="backbtn" (click)=backToHome()>Cancel</button>
    </div>
</body>