<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Transactions</title>
</head>

<body>
    <h1>All Transactions</h1>
    <div class="conttainer">
        <p>0 = Pending, 1 = Accepted, 2 = Rejected</p>
        <div class = "table-wrapper-scroll-y my-custom-scrollbar fixed-header">
            <table class="table">
                <br>
                <tr>
                    <th>Transaction ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Contact Info</th>
                    <th>Payment Type</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
                <tr *ngFor="let c of currTransactions">
                    <td>{{c.tid}}</td>
                    <td>{{c.cid.cid}}</td>
                    <td>{{c.cid.name}}</td>
                    <td>{{c.cid.contactinfo}}</td>
                    <td>{{c.payment_TYPE}}</td>
                    <td>{{c.status}}</td>
                    <td><button type="submit" class=" btn btn-info" id="testbtn">dummy</button></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <!---->
    <div class="float-right">
        <button type="submit" class="btn btn-danger" id="backbtn" (click)=backToHome()>Back</button>
    </div>
    <!-- Come back to later if possible-->
</body>
</html>