body {
    background-image: url("/src/assets/hh_main.jpg")!important;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    /* max-width: 100%; */
    height: 50%;
    width: 80%;
}

.createaccount {
    text-align: center;
}

h2 {
    color: #333;
}