<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="assets/pp.gif" width="50" height="50">
    <a class="navbar-brand" routerLink='/'>! GALAXY EATS !</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="!isEmployee()&&!isCustomer()" class="nav-item">
                <a>
                    <app-login></app-login>
                </a>
            </li>
            <li *ngIf="isEmployee()" class="nav-item">
                <a class="nav-link" routerLink="/manager">Edit Menu</a>
            </li>
            <li *ngIf="isEmployee()" class="nav-item">
                <a class="nav-link" routerLink="/stock">Stock</a>
            </li>
            <li *ngIf="isCustomer()" class="nav-item ">
                <a class="nav-link " routerLink="order">Order</a>
            </li>
            <li *ngIf="isCustomer()" class="nav-item ">
                <a class="nav-link " routerLink="account-info">Account</a>
            </li>
            <li *ngIf="isCustomer()||isEmployee()">
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </li>
            <li *ngIf="!isCustomer()&&!isEmployee()" class="nav-item">
                <button class="btn btn-primary" (click)=createAccount()>Create Account</button>
            </li>
        </ul>
    </div>
    <!-- <app-login></app-login> -->
    <!-- <button class="navbar-toggler collapsed " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
    </button> -->
</nav>