/* You can add global styles to this file, and also import other style files */

.navbar-brand {
    display: inline-block!important;
    padding-top: .3125rem!important;
    padding-bottom: .3125rem!important;
    margin-right: 1rem!important;
    margin-left: 1rem!important;
    font-size: 1.25rem!important;
    line-height: inherit!important;
    white-space: nowrap!important;
    font-style: oblique!important;
    font-weight: bold!important;
    font-family: cursive!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    font-family: cursive;
    font-weight: 400;
}

.bg-primary {
    background-color: paleturquoise!important;
}

.navbar-dark .navbar-brand {
    color: coral!important;
}

.btn {
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn-primary {
    color: #fff;
    font-size: unset;
    font-weight: 800;
    background-color: coral!important;
    border-color: coral!important;
}

button,
input {
    overflow: visible;
    margin-left: 1rem;
}

.nav-item {
    margin-left: 1rem;
}

h1,
h2,
h3 {
    text-align: center;
    background-color: thistle;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
}

p {
    text-align: center;
}

body {
    margin: auto;
}