<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu Items</title>

</head>

<body>
    <h1>Here is your accout information.</h1>
    <p>Name:</p><p id="b_name"></p>
    <p>User Name:</p><p id="b_username"></p>
    <p>Password:</p><p id="b_password"></p>
    <p>Contact Information</p><p id="b_contactinfo"></p>
    <table id="location" class="table">
        <tr>
            <th>Location</th>
        </tr>
    </table>
    <div class="formgroup">
        <label for="b_location">Enter a new delivery location.</label>
        <input class="form-control simple-account" type="text" id="b_location"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
        <button type="submit" class="btn btn-danger" id="backbtn">Cancel</button>
    </div>
</body>