<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu Items</title>

</head>

<body>
    <h1>Here is your accout information.</h1>
    <div class="container">
        <p>Name: {{loggedUser.cust.name}}</p>
        <p>User Name: {{loggedUser.cust.username}}</p>
        <p>Password: {{loggedUser.cust.password}}</p>
        <p>Contact Information: {{loggedUser.cust.contactinfo}}</p>
        <div class="locations">
            <table id="location" class="table">
                <tr>
                    <th>Location(s)</th>
                </tr>
                <tr *ngFor="let l of Locations">
                    <td>{{l.address}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container formgroup">
        <label for="b_location">Enter a new delivery location below.</label>
        <input class="form-control simple-account" type="text" id="newLocation" [(ngModel)]="newLocation" />
    </div>
    <br>
    <div class="container buttons">
        <button type="submit" class="btn btn-primary" (click)=submit()>Submit</button>
        <button type="submit" class="btn btn-danger" (click)=returnTo()>Cancel</button>
    </div>
    <br>
</body>