<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create Account</title>
</head>

<body>
    <h1>Create your account.</h1>

    <div class="container">
        <div class="formgroup">
            <label for="b_Username">Username:</label>
            <input class="form-control simple-create" type="text" id="b_Username"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="b_Password">Password:</label>
            <input class="form-control simple-create" type="text" id="b_Password"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="b_Name">Name:</label>
            <input class="form-control simple-create" type="text" id="b_Name"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="b_ContactInfo">Contact Info:</label>
            <input class="form-control simple-create" type="text" id="b_ContactInfo"/>
            <br>
        </div>
        <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
        <button type="submit" class="btn btn-danger" id="backbtn">Cancel</button>
    </div>
</body>