<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create Account</title>
</head>

<body>
    <h1>Create your account.</h1>

    <div class="container">
        <div class="formgroup">
            <label for="username">Username:</label>
            <input class="form-control simple-create" type="text" id="username" [(ngModel)] = "username"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="password">Password:</label>
            <input class="form-control simple-create" type="text" id="password" [(ngModel)] = "password"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="name">Name:</label>
            <input class="form-control simple-create" type="text" id="name" [(ngModel)] = "name"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="contactInfo">Contact Info:</label>
            <input class="form-control simple-create" type="text" id="contactInfo" [(ngModel)] = "contactInfo"/>
            <br>
        </div>
        <div class="formgroup">
            <label for="location">Location:</label>
            <input class="form-control simple-create" type="text" id="location" [(ngModel)] = "location"/>
        </div>
        <button class="btn btn-primary" (click) = submit()>Submit</button>
        <button class="btn btn-danger" (click) = returnTo()>Cancel</button>
    </div>
</body>