<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu Items</title>

</head>

<body>
    <h3>Peruse Our Finely Curated List of Delectable Items.</h3>
    <div class="formgroup">
        <label for="b_filter">Show items that include: </label>
        <select class="form-control" id="b_filter"></select>
        <ul id="filterSelect"></ul>
    </div>
    <table id="items" class="menuitems">
        <tr>
            <th>Meal Name</th>
            <th>Price</th>
        </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary" id="submitbtn">Order</button>
    <button type="submit" class="btn btn-danger" id="backbtn">Cancel</button>

</body>