.formgroup {
    /* height: 70%; */
    width: 70%;
    margin: auto;
    /* text-align: center; */
}

body {
    text-align: center!important;
    /* width: 70%; */
    margin: auto!important;
}

.menuitems {
    /* height: 70%; */
    width: 70%;
    /* text-align: center; */
}
