<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add new Stock</title>
</head>

<body>
    <div class="container">
        <div class="formgroup">
            <label for="Ingredient">Ingredient</label>
            <input class="form-control simple-create" type="text" id="ingredient" [(ngModel)]="ingredient" />
            <br>
        </div>
        <div class="formgroup">
            <label for="Quantity">Quantity</label>
            <input class="form-control simple-create" type="number" id="quantity" [(ngModel)]="quantity" />
            <br>
        </div>
        <button class="btn btn-success" (click)=addStock()>Submit</button>
        <div class="float-right">
            <button class="btn btn-danger" (click)=goBack()>Go Back</button>
        </div>
    </div>
</body>

</html>